$output.resource("/static/assets/tpl/apps/${entity.model.var}/${entity.model.var}Edit.html")##

<div class="row">
	<!-- Breadcrumb -->
	<ul class="breadcrumb">
	  <li><a ui-sref="${entity.model.var}">${entity.model.type} search & result</a></li>
	  <li class="active">${entity.model.type} detail</li>
	</ul>
</div>

<!-- Alerte success or error -->
<div class="alert alert-success alert-dismissable fade in" style="display:none;" id="successAlert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> This entity has been successfully updated.
</div>

<div class="alert alert-danger alert-dismissable fade in" style="display:none;" id="errorAlert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Danger!</strong> This entity has NOT been updated ! Something goes wrong during this action.
</div>

<!-- loading spinner anchor-->
<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="false"></span>

<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      ${entity.model.type} form
    </h1>
    <p class="lead">
      You can edit ${entity.model.type} entity and see linked entities.
    </p>
  </div>

#foreach ($manyToOne in $entity.manyToOne.list)
<!-- modal for linked entities creation -->
<div ng-include="'assets/tpl/apps/$manyToOne.to.var/modal.html'"></div>
#end

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>

## manage simple attribute
#foreach ($attribute in $entity.attributes.list)
	#if (!$attribute.isInFk() && !$attribute.isInCpk() && !$attribute.isInPk())
	
		## is a mandatory field ?
		#if ($attribute.isNotNullable() == true)
			#set($requiredTag = "required")
		#else
			#set($requiredTag = "")
		#end
	
		<div class="form-group">
		#if ($requiredTag == "required")
		<label for="$attribute.var" class="col-lg-2 control-label"><b>$attribute.varUp</b></label>
		#else
		<label for="$attribute.var" class="col-lg-2 control-label">$attribute.varUp</label>
		#end
		
		<div class="col-lg-10">
		#if ($attribute.type == "BigDecimal" || $attribute.type == "Boolean" || $attribute.type == "Double" || $attribute.type == "Integer" || $attribute.type == "BigInteger" || $attribute.type == "String")
			## we have to deal with LOB field
			#if ($attribute.mappedType == "M_CLOB")
				<textarea class="form-control vertical" rows="3" id="${attribute.var}" ng-model="item.${attribute.var}" $requiredTag></textarea>
			#else
				## we have to deal with simple field: dedicated pattern for numbers 
				
				#if ($attribute.type == "BigDecimal" || $attribute.type == "Integer" || $attribute.type == "BigInteger")
					<input type="text" class="form-control" id="$attribute.var" ng-model="item.$attribute.var" $requiredTag ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">
				#elseif ($attribute.type == "Boolean")
					## display as a checkbox
					<div class="checkbox">
						<input type="checkbox" ng-model="item.$attribute.var" ng-true-value="true" ng-false-value="false">
					</div>
				#else
					<input type="text" class="form-control" id="$attribute.var" ng-model="item.$attribute.var" maxlength="$attribute.getSize()" $requiredTag ng-disabled="mode == 'VIEW'">
				#end
            	</div> 
            	</div>
            	#end
		#elseif ($attribute.type == "Date") 

				<input type="date" class="form-control" id="$attribute.var" ng-model="item.$attribute.var" $requiredTag ng-disabled="mode == 'VIEW'">
		   	</div>
           	</div>
	    #else  
			<p>Type [$attribute.type] not implemented yet !!!!</p>
	   #end     
	#end
#end			

## manage foreign key attribute (complex attribute)

## OneToOne attributes (displayed as combo)
#foreach ($oneToOne in $entity.oneToOne.list)
			<div class="form-group">
			<label class="col-lg-2 control-label"><a ui-sref="edit${oneToOne.to.type}(#if ((${oneToOne.toEntity.hasSimplePk()})) {id:item.${oneToOne.to.var}.${oneToOne.toEntity.getPrimaryKey().getAttribute().name}} #else <!-- FIXME --> #end)">${oneToOne.to.type}</a></label>
			
            <div class="col-lg-10">
			<!-- div to associate the select and its delete button -->
			<div class="input-group">
            <ui-select title="Choose an $oneToOne.to.var" ng-model="item.$oneToOne.to.var" theme="bootstrap" ng-disabled="mode == 'VIEW'">
#foreach ($toAttribute in $oneToOne.getToEntity().getAttributes().list)
	 #if (!$toAttribute.isInPk()  && !$toAttribute.isInFk())
                <ui-select-match placeholder="Choose an $oneToOne.to.var">{{${dollar}select.selected.$toAttribute.name}}</ui-select-match>
     	#break           
     #end
#end                
                <ui-select-choices repeat="itemA in ${oneToOne.to.type.substring(0,1).toLowerCase()}${oneToOne.to.type.substring(1)}s | filter: ${dollar}select.search">
                  	<span ng-bind-html="itemA.$oneToOne.getToEntity().extended.getFirstNoneKeyAttribute() | highlight: ${dollar}select.search"></span>

#foreach ($toPk in $oneToOne.getToEntity().getInPkAttributes().list)
                  		<small ng-bind-html="itemA.$toPk.name | highlight: ${dollar}select.search"></small>
#end                  	
                </ui-select-choices>
             </ui-select>
             
			<span class="input-group-btn">
				<button type="button" ng-click="addOneToOneItemAndGoBackHere()" class="btn btn-default" ng-disabled="mode == 'VIEW'">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</span>
			</div>
		</div>
	</div>
#end

## ManyToOne attributes (displayed as combo); WARNING: this code is a copy of the one above for oneToOne relations
#foreach ($manyToOne in $entity.manyToOne.list)
			<div class="form-group">
			<label class="col-lg-2 control-label"><a ui-sref="edit${manyToOne.to.type}(#if ((${manyToOne.toEntity.hasSimplePk()})) {id:item.${manyToOne.to.var}.${manyToOne.toEntity.getPrimaryKey().getAttribute().name}} #else <!-- FIXME --> #end)">${manyToOne.to.type}</a></label>
			
			<div class="col-lg-10">
			<!-- div to associate the select and its delete button -->
          	<div class="input-group">
			<ui-select title="Choose an $manyToOne.to.var" ng-model="item.$manyToOne.to.var" theme="bootstrap" ng-disabled="mode == 'VIEW'">
#foreach ($toAttribute in $manyToOne.getToEntity().getAttributes().list)  
	 #if (!$toAttribute.isInPk()  && !$toAttribute.isInFk())          
                <ui-select-match placeholder="Choose an $manyToOne.to.var">{{${dollar}select.selected.$toAttribute.name}}</ui-select-match>
     	#break           
     #end
#end                
                <ui-select-choices repeat="itemB in ${manyToOne.to.type.substring(0,1).toLowerCase()}${manyToOne.to.type.substring(1)}s | filter: ${dollar}select.search">
                  	<span ng-bind-html="itemB.$manyToOne.getToEntity().extended.getFirstNoneKeyAttribute() | highlight: ${dollar}select.search"></span>

#foreach ($toPk in $manyToOne.getToEntity().getInPkAttributes().list)
                  		<small ng-bind-html="itemB.$toPk.name | highlight: ${dollar}select.search"></small>
#end                  	
                </ui-select-choices>
             </ui-select>

				<span class="input-group-btn">
					<!-- button to clear author selection -->
					<button type="button" ng-click="item.$manyToOne.to.var = undefined" class="btn btn-default" ng-disabled="mode == 'VIEW'">
					<span class="glyphicon glyphicon-trash"></span>
					</button>
					<!-- button to add a new $manyToOne.to.var entity -->
					<button type="button" onClick="$('#maModal').modal('show');" class="btn btn-default" ng-disabled="mode == 'VIEW'">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				</span>
             </div>
             </div>
			</div>
#end

##---------------------------------------------
## We end with the entity key
##---------------------------------------------
## pk are not updatable unless there are not auto generated
#foreach ($attribute in $entity.inPkAttributes.list)
#if ($attribute.isInCpk() == true && $attribute.isSimpleFk() == true)
## this attribut is already on FK part of the page, so don't put it twice
#else
          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b>#if (!$attribute.isSimplePk())Id#end $attribute.varUp</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="${attribute.var}" #if ($attribute.getJpa().hasIdGeneratorByConvention()) ng-disabled="true" #end ng-model="item#if(!$attribute.isSimplePk()).id#end.${attribute.var}">
              </div>
         </div>
#end         
#end 
            
			<!-- form buttons -->
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="${entity.model.var}">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">
	<div ng-include="'assets/tpl/apps/${entity.model.var}/${entity.model.var}EditRelations.html'">
	</div>
</div>		
</section>


<script>
#foreach ($attribute in $entity.notInPkAttributes.list)
#if ($velocityCount == 1)

// set focus into the first input field
${dollar}('#$attribute.var').focus();
#end
#end
</script>