$output.resource("/static/assets/tpl/apps/${entity.model.var}/${entity.model.var}Edit.html")##

<div class="row">
	<!-- Breadcrumb -->
	<ul class="breadcrumb">
	  <li><a ui-sref="${entity.model.var}">${entity.model.type} search & result</a></li>
	  <li class="active">${entity.model.type} detail</li>
	</ul>
</div>

<!-- Alerte success or error -->
<div class="alert alert-success alert-dismissable fade in" style="display:none;" id="successAlert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> This entity has been successfully updated.
</div>

<div class="alert alert-danger alert-dismissable fade in" style="display:none;" id="errorAlert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Danger!</strong> This entity has NOT been updated ! Something goes wrong during this action.
</div>

<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      ${entity.model.type} form
    </h1>
    <p class="lead">
      You can edit ${entity.model.type} entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


#foreach ($attribute in $entity.attributes.list)
	#if (!$attribute.isInFk() && !$attribute.isInCpk() && !$attribute.isInPk())
		#if ($attribute.type == "Date") 
			<div class="form-group">
			<label for="name" class="col-lg-2 control-label"><b>$attribute.varUp</b></label>
			
			<div class="col-lg-10">
				<input type="text" class="form-control" id="$attribute.var" ng-model="item.$attribute.var" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		   	</div>
           	</div>
	    #else  
	    		<div class="form-group">
	    		<label for="name" class="col-lg-2 control-label"><b>$attribute.varUp</b></label>
	    		
			<div class="col-lg-10">
				<input type="text" class="form-control" id="$attribute.var" ng-model="item.$attribute.var" required ng-disabled="mode == 'VIEW'">
            	</div> 
            	</div>
	   #end     
	#end
#end			

          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-disabled="true"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="${entity.model.var}">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
	 	 	 	 	 				 	  
</section>



