$output.resource("/static/assets/tpl/apps/${entity.model.var}/${entity.model.var}Search.html")##

<div class="row">
	<!-- Breadcrumb -->
	<ul class="breadcrumb">
  		<li class="active">${entity.model.type} search & result</li>
	</ul>
</div>

<!-- ElasticSearch form -->	
<div class="panel-group">
<form class="form-floating" ng-submit="startElasticSearch(savedSearch)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#${entity.model.var}ElasticSearchForm">${entity.model.type} Elastic Search Form</a>
      </h4>
    </div>
    <div id="${entity.model.var}ElasticSearchForm" class="panel-collapse collapse">
      <div class="panel-body">
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control input-sm" ng-model="savedSearch.query" required>
          </div>
      </div> <!-- panel body end -->
      <div class="panel-footer">
      	<div class="form-group">
      			<button type="submit" class="btn btn-sm btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
        </div>
    </div> <!-- panel footer end -->
  </div>
</form>
</div>
</div>

<!-- Entity search form -->
<div class="panel-group">
<form class="form-floating" ng-submit="startSearch(item)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#bookSearchForm">${entity.model.type} Search Form</a>
	  </h4>
    </div>
    <div id="${entity.model.var}SearchForm" class="panel-collapse collapse">
      <div class="panel-body">

		
#foreach ($attribute in $entity.attributes.list)
	#if (!$attribute.isInFk() && !$attribute.isInCpk() && !$attribute.isInPk())
		#if ($attribute.type == "Date") 
			<div class="form-group filled">
		    <label class="control-label">$attribute.varUp</label>
                	<input type="text" class="form-control input-sm" ng-model="savedSearch.$attribute.var" data-autoclose="1" placeholder="{{ '$attribute.var' | translate }}" bs-datepicker>
            </div>
	    #else  
	    		<div class="form-group filled">
		    <label class="control-label">$attribute.varUp</label>
            		<input type="text" class="form-control input-sm" ng-model="savedSearch.$attribute.var">
            </div>
	   #end     
	#end
#end	
		
		
		</div> <!-- panel body end -->
		<div class="panel-footer">
				<!-- Form buttons: begin -->
                  <div class="form-group">
                      <button type="button" ng-click="clearSavedSearch()" class="btn btn-sm btn-default">{{ 'CLEAR' | translate }}</button>
                      <button type="submit" class="btn btn-sm btn-primary">{{ 'SEARCH' | translate }}</button>
                  </div>
                  <!-- Form buttons: end -->
                  
         </div> <!-- panel footer end -->
  </div>
</form>
</div>
</div>
